body{
    background-color: white;
}
h1{
    font-size: 20px;
    position: center;

}
.container{
    border: 1px;
    border-collapse: none;
    border-color:black ;
}
h2{
    float:right;
    background-color: red;
    
}
p{
   font-color: black;
    font-family:Sans-serif;
}
    
